.eurotophobieForm {
    h3 {
        font-size: 30px;;
    }
    .question {
        font-weight: 600;
    }
    .response >div {
        padding:5px 25px;
        label {
            padding-left:5px;
        }
    }
    .result {
        &.show{
            opacity:1;
        }
        &.hide{
            opacity:0;
        }
        border: 1px solid grey;
        margin: 50px 0px;
        padding:50px;
        text-align: center;
        p {
            text-align: center;
            padding: 0px 100px;
        }
    }
    button[type=submit] {
        background-color: $color-primary;
        padding:10px 20px;
        border-radius: 5px;
        color: #fff;
        border: none;
        font-size: 20px;
        margin-top: 50px;
        &.reset{
            background-color: grey;
            a{
                color:#fff;
            }
        }
        a{
            cursor:pointer;
        }
        &::after {
            content:">";
            color:#fff;
            padding-left:10px;
            opacity:0;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }
         &:hover::after {
             opacity: 1;
         }
    }
}