.notFound {
    position:relative;
    img {
        aspect-ratio: 2/1;
        height:auto;
        width:100%;
        object-fit: cover;
    }
    p {
        position:absolute;
        bottom:50%;
        transform: translateX(50%);
        right:50%;
        color:#fff;
        font-size: 5vw;
    }
    
}